language: java

addons:
  apt:
    packages:
    - ghostscript

jdk:
 - oraclejdk8

cache:
  directories:
  - $HOME/.m2/repository/
  - $HOME/.rvm 
  - $HOME/.bundle

script:
- ./setup-env.sh
- ./epub.sh
#- ./render-book-artifacts.sh


env:
- SPRING_PROFILES_ACTIVE=ci

